datafile used:https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork/labs/Module%203/data/ChurnData.csv

In [ ]:
#start here 
#remember to use different code blocks for different segments 

dff=df[["ed","employ","equip","callcard","wireless"]]
display(dff)
y = np.asanyarray(df['churn'])
y [0:5]
# please remember to train and test your model according to the feature set selected

      ed  employ  equip  callcard  wireless
0    5.0     5.0    0.0       1.0       1.0
1    2.0     0.0    0.0       0.0       0.0
2    1.0     2.0    0.0       0.0       0.0
3    2.0    10.0    1.0       1.0       1.0
4    2.0    15.0    0.0       1.0       0.0
..   ...     ...    ...       ...       ...
195  1.0    23.0    0.0       1.0       0.0
196  1.0     7.0    0.0       1.0       0.0
197  1.0    10.0    0.0       1.0       0.0
198  4.0     5.0    0.0       1.0       1.0
199  2.0    22.0    1.0       1.0       1.0

[200 rows x 5 columns]

array([1., 1., 0., 0., 0.])

In [ ]:
X=np.asanyarray(dff)
X = preprocessing.StandardScaler().fit(X).transform(X)
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=4)
LR = LogisticRegression(C=0.01, solver='liblinear').fit(X_train,y_train)
LR

LogisticRegression(C=0.01, solver='liblinear')

In [ ]:

yhat = LR.predict(X_test)
yhat

array([0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 1., 0., 0., 1.,
       1., 1., 0., 1., 1., 0., 1., 0., 0., 1., 1., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 1.])

In [ ]:

yhat_prob = LR.predict_proba(X_test)
yhat_prob

array([[0.56628588, 0.43371412],
       [0.56512867, 0.43487133],
       [0.5692309 , 0.4307691 ],
       [0.66540031, 0.33459969],
       [0.53373132, 0.46626868],
       [0.64105839, 0.35894161],
       [0.5218807 , 0.4781193 ],
       [0.58920219, 0.41079781],
       [0.45274683, 0.54725317],
       [0.56448138, 0.43551862],
       [0.48367103, 0.51632897],
       [0.5377661 , 0.4622339 ],
       [0.61409713, 0.38590287],
       [0.45624138, 0.54375862],
       [0.70304928, 0.29695072],
       [0.53491585, 0.46508415],
       [0.45624138, 0.54375862],
       [0.44860984, 0.55139016],
       [0.44229245, 0.55770755],
       [0.60276889, 0.39723111],
       [0.49305494, 0.50694506],
       [0.46039879, 0.53960121],
       [0.64369144, 0.35630856],
       [0.48080925, 0.51919075],
       [0.50260065, 0.49739935],
       [0.67474799, 0.32525201],
       [0.48015564, 0.51984436],
       [0.4885077 , 0.5114923 ],
       [0.54358463, 0.45641537],
       [0.66853111, 0.33146889],
       [0.65532641, 0.34467359],
       [0.53906692, 0.46093308],
       [0.45909063, 0.54090937],
       [0.65651507, 0.34348493],
       [0.61618713, 0.38381287],
       [0.55883343, 0.44116657],
       [0.53490773, 0.46509227],
       [0.63659112, 0.36340888],
       [0.61793012, 0.38206988],
       [0.48146667, 0.51853333]])

In [ ]:

arr=confusion_matrix(y_test, yhat)
print(arr)
TP = arr[0][0]
TN = arr[1][1]
TOTAL = arr[0][0]+arr[0][1]+arr[1][0]+arr[1][1]
answer = (TP+TN)/TOTAL
print("Accuracy:",answer)

[[18  7]
 [ 9  6]]
Accuracy: 0.6

TESTCASE-1

In [ ]:
new_df = df[["tollten", "longten" ,"cardten","tenure","age"]]
X = np.asanyarray(new_df)
display(new_df)
y = np.asanyarray(df['churn'])
X = preprocessing.StandardScaler().fit(X).transform(X)

X=np.asanyarray(new_df)
X = preprocessing.StandardScaler().fit(X).transform(X)
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=4)
LR = LogisticRegression(C=0.01, solver='liblinear').fit(X_train,y_train)
LR

yhat = LR.predict(X_test)
yhat


yhat_prob = LR.predict_proba(X_test)
yhat_prob


arr=confusion_matrix(y_test, yhat)
print(arr)
TP = arr[0][0]
TN = arr[1][1]
TOTAL = arr[0][0]+arr[0][1]+arr[1][0]+arr[1][1]
answer = (TP+TN)/TOTAL
print("Accuracy:",answer)

     tollten  longten  cardten  tenure   age
0     211.45    42.00    125.0    11.0  33.0
1       0.00   288.80      0.0    33.0  33.0
2       0.00   157.05      0.0    23.0  30.0
3    1873.05   239.55    880.0    38.0  35.0
4     166.10    47.45    145.0     7.0  35.0
..       ...      ...      ...     ...   ...
195  1343.50   973.10    720.0    55.0  44.0
196   959.40   203.25    435.0    34.0  23.0
197   128.45    29.90     80.0     6.0  32.0
198  1152.90   186.60    780.0    24.0  30.0
199     0.00  1063.15   1600.0    61.0  50.0

[200 rows x 5 columns]

[[23  2]
 [ 8  7]]
Accuracy: 0.75

TESTCASE-2

In [ ]:
new_df = df[["tollten","longten","cardten","tenure"]]
X = np.asanyarray(new_df)
display(new_df)
y = np.asanyarray(df['churn'])
X = preprocessing.StandardScaler().fit(X).transform(X)

X=np.asanyarray(new_df)
X = preprocessing.StandardScaler().fit(X).transform(X)
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=4)
LR = LogisticRegression(C=0.01, solver='liblinear').fit(X_train,y_train)
LR

yhat = LR.predict(X_test)
yhat


yhat_prob = LR.predict_proba(X_test)
yhat_prob


arr=confusion_matrix(y_test, yhat)
print(arr)
TP = arr[0][0]
TN = arr[1][1]
TOTAL = arr[0][0]+arr[0][1]+arr[1][0]+arr[1][1]
answer = (TP+TN)/TOTAL
print("Accuracy:",answer)

     tollten  longten  cardten  tenure
0     211.45    42.00    125.0    11.0
1       0.00   288.80      0.0    33.0
2       0.00   157.05      0.0    23.0
3    1873.05   239.55    880.0    38.0
4     166.10    47.45    145.0     7.0
..       ...      ...      ...     ...
195  1343.50   973.10    720.0    55.0
196   959.40   203.25    435.0    34.0
197   128.45    29.90     80.0     6.0
198  1152.90   186.60    780.0    24.0
199     0.00  1063.15   1600.0    61.0

[200 rows x 4 columns]

[[24  1]
 [ 9  6]]
Accuracy: 0.75

TESTCASE-3

In [ ]:
new_df = df[["tollten","longten","cardten","tenure","age","ed","employ"]]
X = np.asanyarray(new_df)
display(new_df)
y = np.asanyarray(df['churn'])
X = preprocessing.StandardScaler().fit(X).transform(X)

X=np.asanyarray(new_df)
X = preprocessing.StandardScaler().fit(X).transform(X)
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=4)
LR = LogisticRegression(C=0.01, solver='liblinear').fit(X_train,y_train)
LR

yhat = LR.predict(X_test)
yhat


yhat_prob = LR.predict_proba(X_test)
yhat_prob


arr=confusion_matrix(y_test, yhat)
print(arr)
TP = arr[0][0]
TN = arr[1][1]
TOTAL = arr[0][0]+arr[0][1]+arr[1][0]+arr[1][1]
answer = (TP+TN)/TOTAL
print("Accuracy:",answer)

     tollten  longten  cardten  tenure   age   ed  employ
0     211.45    42.00    125.0    11.0  33.0  5.0     5.0
1       0.00   288.80      0.0    33.0  33.0  2.0     0.0
2       0.00   157.05      0.0    23.0  30.0  1.0     2.0
3    1873.05   239.55    880.0    38.0  35.0  2.0    10.0
4     166.10    47.45    145.0     7.0  35.0  2.0    15.0
..       ...      ...      ...     ...   ...  ...     ...
195  1343.50   973.10    720.0    55.0  44.0  1.0    23.0
196   959.40   203.25    435.0    34.0  23.0  1.0     7.0
197   128.45    29.90     80.0     6.0  32.0  1.0    10.0
198  1152.90   186.60    780.0    24.0  30.0  4.0     5.0
199     0.00  1063.15   1600.0    61.0  50.0  2.0    22.0

[200 rows x 7 columns]

[[23  2]
 [ 8  7]]
Accuracy: 0.75

TESTCASE-4

In [ ]:
new_df = df[["longmon","longten","cardten","tenure","age"]]
X = np.asanyarray(new_df)
display(new_df)
y = np.asanyarray(df['churn'])
X = preprocessing.StandardScaler().fit(X).transform(X)

X=np.asanyarray(new_df)
X = preprocessing.StandardScaler().fit(X).transform(X)
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=4)
LR = LogisticRegression(C=0.01, solver='liblinear').fit(X_train,y_train)
LR

yhat = LR.predict(X_test)
yhat


yhat_prob = LR.predict_proba(X_test)
yhat_prob


arr=confusion_matrix(y_test, yhat)
print(arr)
TP = arr[0][0]
TN = arr[1][1]
TOTAL = arr[0][0]+arr[0][1]+arr[1][0]+arr[1][1]
answer = (TP+TN)/TOTAL
print("Accuracy:",answer)

     longmon  longten  cardten  tenure   age
0       4.40    42.00    125.0    11.0  33.0
1       9.45   288.80      0.0    33.0  33.0
2       6.30   157.05      0.0    23.0  30.0
3       6.05   239.55    880.0    38.0  35.0
4       7.10    47.45    145.0     7.0  35.0
..       ...      ...      ...     ...   ...
195    17.35   973.10    720.0    55.0  44.0
196     6.00   203.25    435.0    34.0  23.0
197     3.85    29.90     80.0     6.0  32.0
198     8.70   186.60    780.0    24.0  30.0
199    16.85  1063.15   1600.0    61.0  50.0

[200 rows x 5 columns]

[[23  2]
 [ 8  7]]
Accuracy: 0.75